repos:
# Check YAML; Fix end of files; Fix trailing whitespace
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
# Python - Reorder Imports
- repo: https://github.com/asottile/reorder_python_imports
  rev: v2.7.1
  hooks:
  - id: reorder-python-imports
# Python - Code Formatting
- repo: https://github.com/psf/black
  rev: 22.1.0
  hooks:
  - id: black
    exclude: hooks/*
    args:
    - --line-length
    - '79'
    - --skip-string-normalization
# Python - Type Checking
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.931
  hooks:
  - id: mypy
    additional_dependencies: [types-pyyaml]
